.productGrid { 
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    align-content: flex-start;
    justify-content: baseline;
    overflow-y: scroll;
    height: 100%;
}


.productGrid::-webkit-scrollbar {
    width: 12px;
  }
  
  .productGrid::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .productGrid::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .productGrid::-webkit-scrollbar-thumb:hover {
    background: #555;
  }