 
.search {
    align-self: start;
    justify-self: flex-start;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d5db;
    border-radius: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .search:focus {
    outline: none;
    border-color: #6b7280;
  }
  